<p>Welcome to the Employee Reimbursement Portal</p>
<p>This portal allows you to manage companies, employees, and reimbursement claims.</p>
<p> You can user navigation bar to navigate throught out the application </p>
