<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>
  <p>
    <strong>Employee Count:</strong>
    <%= company.employee_count %>
  </p>
  <p>
    <strong>Total Reimbursement Claims:</strong>
    <%= company.total_reimbursement_claims %>
  </p>
</div>
